[Unit]
Description=Apply Netplan Network Configuration
After=network-pre.target
Before=network.target
Wants=network-pre.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/brokkr-netplan
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target